/*	Default <h1> - <h6> css 
======================================*/
h1 { font-size: 2em; margin-top: 0.67em; margin-bottom: 0.67em;}
h2 { font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em;}
h3 { font-size: 1.17em; margin-top: 1em; margin-bottom: 1em;}
h4 { font-size: 1em; margin-top: 1.33em; margin-bottom: 1.33em;}
h5 { font-size: .83em; margin-top: 1.67em; margin-bottom: 1.67em;}
h6 { font-size: .67em; margin-top: 2.33em; margin-bottom: 2.33em;}
h1, h2, h3, h4, h5, h6{ display: block; margin-left: 0; margin-right: 0; font-weight: bold;
}
body{
    font-family:  "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
    font-size: 16px; 
    line-height: 1.5;
	font-weight: 400; [Reguler size]
}

/*Bootstrap Typography
================================================*/
body{
    font-family:  "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
    font-size: 14px; [14*1.5]
    line-height: 1.5; [21px]
	
}
h1{font-size: 2.5rem = 40px;}
h2{font-size: 2rem = 32px}
h3{font-size: 1.75rem = 28px;}
h4{font-size: 1.5rem = 24px;}
h5{font-size: 1.25rem = 20px;}
h6{font-size: 1rem = 16px;}

p{
    margin-top: 0; 
    margin-bottom: 1rem ,16px;
    line-height: 1.5;
}






















